.editor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-editable {
    width: 60%;
    padding: 10px;
    height: 1000px;
    margin-top: 50px;
    outline: none;
}