@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
  --background-primary: white;
  --background-secondary: #ccc;
  
  --font-color-primary: black;
  --font-color-secondary: #8c8f94;

  --highlight-color: #ccc;
  }
  
  [data-theme="dark"] {
    --background-primary: #1d2327;
    --background-secondary: #2c3338;
    
    --font-color-primary: #eee;
    --font-color-secondary: #8c8f94;

    --highlight-color: #2c3338;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--font-color-primary);
    background-color: var(--background-primary); 
  }